<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title></title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}

      <img class="my_img" src="https://www.vaisala.com/sites/default/files/styles/16_9_liftup_extra_large/public/images/LIFT-weather-800x450.jpg?itok=l67bLZ5V" alt="weather">
    </div>
    <div class="my_div1">
      
    </div>

    {{>footer}}
  </body>
</html>
